<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temas del blog</title>
</head>
<body>
    <%- include('./header') %>
    <ul>
        <% 
        //const temas = ['fronted', 'backend', 'diseño']
        for (let i=0; i < temas.length; i++) {%>
            <li>
                Temas: <%= temas[i]%>
            </li>
        <%}
        %>
        
    </ul>
    <%- include('./footer') %>
</body>
</html>